# config.aphro for aphrodite devel-461136c-out-of-tree
CFG_VERSION=devel-461136c-out-of-tree
CONT_WITH_DIFFERENT_VERSION=false

# Begin metadata

# Set VERSION=generate to attempt to autogenerate a version based on git information
VERSION=generate
# SUFFIX is unset

# End metadata

# Begin configs
CONFIG_DISABLE_MULTIBOOT2_SUPPORT=false

# Panic behavior. When debugging, generally halt on panic is more useful.
CONFIG_PREUSER_HALT_ON_PANIC=true
CONFIG_PREUSER_SPIN_ON_PANIC=false

CONFIG_PREUSER_EXIT_LOOP_ON_INVALID_LENGTH=true
CONFIG_PREUSER_PANIC_ON_INVALID_LENGTH=false
CONFIG_PREUSER_WARN_ON_INVALID_LENGTH=false
CONFIG_PREUSER_ERROR_ON_INVALID_LENGTH=true

# Whether to output various levels of messages.
CONFIG_PREUSER_OUTPUT_DEBUG=true
CONFIG_PREUSER_OUTPUT_INFO=true
CONFIG_PREUSER_OUTPUT_WARN=true
CONFIG_PREUSER_OUTPUT_ERROR=true
CONFIG_PREUSER_OUTPUT_FATAL=true

# Whether to build an iso with GRUB. Used in ./build.
CONFIG_BUILD_GRUB=true
# End configs